#create-itinerary-container {

    #itinerary-controls {
        padding: 0 16px;
        // .buttons {
        //     div {
        //         cursor: pointer;
        //     }
        //     mat-icon {
                
        //         font-size: 32pt;
        //     }
        // }
    }
    
    #itinerary-tools {
        height: 70vh;
        @media screen and (max-width: 599px) {
            height: 150vh;
        }
        .bordered {
            border: 1px solid black;
            margin: 2px;
            border-radius: 2px;
            overflow: hidden;
        }

        .timeline-container {
            height: 100%;
            .timeline-bottom {
                border-top: 1px solid black;
                padding-left: 100px;
            }

            .bubble {
                max-width: 150px;
                padding: 8px;
                background: lightgray;
                margin: 8px;
                border-radius: 8px;

                .heading {
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                .on-hover {
                    display: none;
                    position: absolute;
                }

                &:hover .on-hover {
                    display: block
                }
            }
            
            .timeline-top {
                border-bottom: 1px solid black;
                .top-bubble:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 0;
                    border: 20px solid transparent;
                    border-top-color: #00aabb;
                    border-bottom: 0;
                    border-left: 0;
                    margin-left: -10px;
                    margin-bottom: -20px;
                }
            }
        }

        mat-tab-group {
            height: 100%;
            
            .map-container {
                height: inherit;
            }

            /deep/.mat-tab-body-wrapper{
                height: 100%;
            }

            /deep/.mat-tab-body-content {
                overflow: hidden;
            }

        }

        
    }

    #video-chats {
        margin:2px;
        height: 200px;
        overflow: auto;
        // border: 1px solid black;
        img{
            height: 160px;
        }
        .video {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
            margin: 2px;
        }
        .new-video {
            height:200px;
            width:200px;
            background: lightgray;
            border-radius: 8px;
            margin: 2px;
            button {
                margin: auto;
            }
        }
    }

    .own-video {
        img{
            height: 200px;
        }
    }
}