#create-itinerary-container {

    #itinerary-controls {
        padding: 0 16px;
    }
    
    #itinerary-tools {
        height: 70vh;
        @media screen and (max-width: 599px) {
            height: 150vh;
        }
        .bordered {
            border: 1px solid black;
            margin: 2px;
            border-radius: 2px;
            overflow: hidden;
        }

        .timeline-add {
            position: absolute;
            top: 44%;
            background: white;
            display: none;
        }
        .add-permanent {
            position: absolute;
            right: 0;
            top: 44%;
            background: white;
            mat-icon {
                background: white;
            }
        }

        .line {
            height: 2px;
            background: black;
        }

        .line:hover .timeline-add {
            display: block;
        }

        .timeline-container {
            height: 100%;
            overflow: auto;

            .timeline-bottom {
                border-top: 1px solid black;
                padding: 0px 8px 8px 135px;
            }

            .bubble {
                cursor: pointer;
                width: 240px;
                max-width: 240px;
                padding: 8px;
                background: lightgray;
                border-radius: 8px;

                .heading {
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                .btn {
                    cursor: pointer;
                    font-size: 14pt;
                    // border: 1px solid black;
                    border-radius: 8px;
                    padding: 2px;
                    margin: 2px;
                    &:hover {
                        background: gray;
                    }
                }

                .date, .location{
                    font-size: 10pt;
                    .mat-icon {
                        font-size: 10pt;
                    }
                }

                .description {
                    padding: 8px 0;
                    word-wrap: break-word;
                }

                .on-hover {
                    display: none;
                }

                &:hover .on-hover {
                    display: block
                }
            }
            
            

            .arrow-down {
                width: 0; 
                height: 0; 
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-top: 16px solid lightgray;
                margin: auto;
            }

            .arrow-up {
                width: 0; 
                height: 0; 
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-bottom: 16px solid lightgray;
                margin: auto;
            }
            
            .timeline-top {
                border-bottom: 1px solid black;
                padding: 8px;
                padding-bottom: 0;
            }
        }

        mat-tab-group {
            height: 100%;
            
            .map-container {
                height: inherit;
            }

            /deep/.mat-tab-body-wrapper{
                height: 100%;
            }

            /deep/.mat-tab-body-content {
                overflow: hidden;
            }

        }

        
    }

    #video-chats {
        margin:2px;
        height: 200px;
        overflow: auto;
        // border: 1px solid black;
        img{
            height: 160px;
        }
        .video {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
            margin: 2px;
        }
        .new-video {
            height:200px;
            width:200px;
            background: lightgray;
            border-radius: 8px;
            margin: 2px;
            button {
                margin: auto;
            }
        }
    }

    .own-video {
        img{
            height: 200px;
        }
    }
}