#notes-container {
    padding: 8px;
    overflow: auto;
    height: 100%;
    .note {
        padding: 8px;
        border-bottom: 1px solid grey;
        font-size: 11pt;
        height: 70px;
        .title {
            font-weight: bold;
            margin-bottom: 16px;
        }
        .text {
            text-overflow: ellipsis;
            
        }
    }
    .note:hover{
        background-color:lightgray;
        cursor: pointer;
    }
    .add-button{
        background: #3f51b5;
        color: #FFF;
    }
    .add-Notes{
        bottom: 0;
        position: absolute;
        margin-left: 35%;
        margin-bottom: 10px;
    }
   
}
