.btn-social
{
    position: fixed;
    float: right;
    right: 20px;
    bottom: 40px;
    z-index: 99;
}

.panel-social
{
    bottom: 100px;
    width: 25%;
    min-width: 200px;
    min-height: 400px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0px;
    bottom: 20%;
    top: 15%;
    background-color: #f8f8f8;
    z-index: 10;
}

.panel-friends, .panel-groups
{
    height: 50%;
}

.head-friends, .head-groups
{
    padding: 5px;
    height: 20px;
    font-weight: bold;
    background-color: aquamarine;
}