.note-heading{
    background: #2c3e50;
    padding: 16px;
    color: white;
    margin: -24px;
    margin-bottom: 0px;
}
.dialog-container {
    padding: 16px;
    padding-bottom: 2px;

    .title-input{
        text-align: center;
    }
    .text-input{
        text-align: center;
    }
    .close-note{
        text-align: center;
    }
    .mat-dialog-container{
        background: darkcyan;
    }
}
