.note-heading{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
.title-input{
    text-align: center;
    margin-bottom: 20px;
}
.text-input{
    text-align: center;
    margin-bottom: 30px;
}
.close-note{
    text-align: center;
}
.mat-dialog-container{
    background: darkcyan;
}