#register-container {
    padding: 8px;
    mat-form-field {
        width: 100%;
    }
    button {
        display: block;
        margin: 8px auto;
    }

    mat-form-field .mat-form-field {
        &-underline {
            position: static;
        }
        &-subscript-wrapper {
            position: static;
        }
    }
}