<div fxLayout="row" fxLayoutGap="8px" id="header-container">
    <div fxHide.gt-sm>
        <button mat-button (click)="menuClicked.next(true)">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div [routerLink]="['/dashboard']" fxLayout="row" fxLayoutGap="8px" class="icon">
        <div>
            <img src="assets/imgs/logo-white.png">
        </div>
        <div class="app-name" fxFlexAlign="center">Travel Buddy</div>
    </div>
    <div fxFlex="1 1 0" fxHide.lt-sm></div>

    <button fxHide.lt-sm mat-button fxFlexAlign="center" [routerLink]="['/dashboard']">
        <mat-icon>home</mat-icon>
        Home
    </button>

    <div fxFlexAlign="center" fxHide.lt-sm>
        <button mat-button [matMenuTriggerFor]="loginMenu">
            <mat-icon>account_circle</mat-icon> &nbsp;
            <span>{{firstName}}</span>
            <span class="material-icons">arrow_drop_down</span>
        </button>
        <mat-menu #loginMenu="matMenu">
            <button mat-menu-item [routerLink]="['/dashboard/user']">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item [routerLink]="['/dashboard/user-feedback']">
                <mat-icon>feedback</mat-icon>
                <span>User Feedback</span>
            </button>
            <button mat-menu-item [routerLink]="['/dashboard/currency']">
                <mat-icon>monetization_on</mat-icon>
                <span>Currency Converter</span>
            </button>
            <button (click)="logOut()" mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Log Out</span>
            </button>
        </mat-menu>
    </div>
</div>