#header-container {
    padding: 8px 16px;
    background: #2c3e50;
    color: white;
    max-height: 16vh;
    padding-top: 16px;

    .icon {
        cursor: pointer;
        outline: 0;

        img {
            height: 50px;
            margin-top: -8px;
        }

        .app-name {
            font-size: 20pt;
            font-weight: bold;
            @media screen and (max-width: 599px){
                font-size: 18pt;
            }
        }

    }
    

    button {
        font-size: 14pt;
    }
}