<div id="profile-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutGap="8px" fxFlexAlign="center">
        <img [src]="imageSrc">
        <button mat-button (click)="file.click()">Change Image</button>
        <input type="file" id="my-file" name="userPhoto" accept="image/*" #file (change)="upload($event.target.files)">

    </div>
    <div>
        <div id="info-container">
            <div fxLayout="row" class="name">
                <div fxFlex="1 1 0">{{firstName+" "+lastName}}</div>
                <button mat-icon-button (click)="edit()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div>
                {{email}}
            </div>
            <div fxLayout="row" fxLayoutGap="16px">
                <div>
                    <b>Age:</b> {{age}}
                </div>
                <div>
                    <b>Sex:</b> {{sex}}
                </div>
            </div>
            <div>
                <h3>Bio:</h3>
                <p>
                    {{bio}}
                </p>
            </div>
            <!-- <div>
                <h3>Interests:</h3>
                <div class="interests" fxLayout="row" fxLayoutGap="16px">
                    <div>Golfing</div>
                    <div>Programming</div>
                    <div>NHL</div>
                    <div>Boxing</div>
                </div>
            </div> -->
        </div>
    </div>