#chats-container {
    height: 100%;
    overflow: auto;

    .chats {
        height: inherit;
        overflow: auto;

        .chat-container {
            max-width: 80%;
        }
    }

    .sender {
        font-weight: bold;
    }
    .self, .other {
        background: lightgray;
        padding: 8px;
        width: fit-content;
        border-radius: 8px;
        margin: 8px;
    }
    .self {
        margin-left: auto;
    }

    .send-container {
        padding: 8px;
    }
}