<div id="chats-container">
    <div class="chats" fxLayout="column-reverse">
        <div fxLayout="row" fxLayoutGap="8px" class="send-container">
            <input #message fxFlex="1 1 0" placeholder="Type a message" type="text">
            <button mat-button (click)="sendMessage(message)">
                <mat-icon>send</mat-icon>
            </button>
        </div>
        <div *ngFor="let message of chatMessages">
            <div [ngClass]="(message.sender === user.id)?'self':'other'">
                <div *ngIf="message.sender !== user.id" class="sender">{{message.senderName}}</div>
                <div class="text">{{message.message}}</div>
            </div>
        </div>
    </div>
</div>