#item-view-container {
    .heading {
        padding: 8px;
        background: #2c3e50;
        font-weight: bold;
        margin: -24px;
        margin-bottom: 0px;
        color: white;
    }
    .location, .date-time {
        font-size: 10pt;
        padding: 8px 0;
    }
    .mat-button-focus-overlay {
        background-color: transparent!important;
    }

    .description {
        padding: 8px;
        background: lightgray;
    }
}