<div id="item-dialog">
    <div>
        {{ isEdit? 'Edit item in ':'Add new item to' }}
        <b>{{ data.title }}</b>
    </div>

    <div>
        <form fxLayout="column" [formGroup]="createItemForm">
            <div>
                <mat-form-field class="full-input-element" floatLabel="never">
                    <input matInput formControlName="title" type="text" placeholder="Item Title" />
                    <mat-error *ngIf="createItemForm.controls.title.hasError('required')">
                        Title is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="never">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-select-trigger>
                            {{ createItemForm.controls.category.value }}
                        </mat-select-trigger>
                        <mat-option *ngFor="let category of categories" [value]="category.item">
                            <mat-icon>{{category.icon}}</mat-icon>
                            <span>{{ category.item }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <input [min]="today" [owlDateTime]="dt1" formControlName="dateTime" class="custom-input"
                    [owlDateTimeTrigger]="dt1" placeholder="Event Date Time">
                <owl-date-time #dt1></owl-date-time>
            </div>
            <div>
                <input #location type="text" formControlName="location" class="google-place-input custom-input"
                    placeholder="Location">
            </div>
            <div>
                <mat-form-field floatLabel="never" class="full-input-element">
                    <textarea matInput formControlName="description" placeholder="Description"></textarea>
                    <mat-error *ngIf="createItemForm.controls.description.hasError('required')">
                        Description is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="16px">
                <button (click)="dialogRef.close()" mat-raised-button>Close</button>
                <button (click)="isEdit?editItem():addItem()" mat-raised-button color="primary">
                    {{ isEdit?'Edit':'Add' }} Item
                </button>
            </div>
        </form>
    </div>

</div>