#login-container {
    padding: 8px;
    mat-form-field {
        width: 100%;
    }
    button {
        display: block;
        margin: 8px auto;
    }
    .btn-lnk {
        color: grey;
        cursor: pointer;

    }
}