
<mat-card id="card">
  <mat-card-title id="title">CURRENCY EXCHANGE RATE</mat-card-title>
  <form [formGroup]="currencyForm">
  <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="1 1 0" fxLayoutAlign="center center">
          <mat-form-field>
              <mat-select placeholder="What I have?" formControlName="baseCurrency" (selectionChange)="selectedSrc(selectedValue)" [(value)]="selectedValue">
                  <mat-option *ngFor="let cur of currencyList" [value]="cur.code">
                      <img width="10" height="10" src="assets/imgs/{{cur.code | lowercase}}.png" />{{" " +cur.name +
                      " (" +cur.code+")"}}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="currencyForm.controls.baseCurrency.hasError('required')">
                  Base currency is required.
              </mat-error>
          </mat-form-field>
      </div>
      <div fxFlex="1 1 0" fxLayoutAlign="center center">
          <mat-form-field>
              <mat-select placeholder="What I want?" formControlName="outputCurrency" (selectionChange)="selectedDest(outputValue)" [(value)]="outputValue">
                  <mat-option *ngFor="let cur of currencyList" [value]="cur.code">
                      <img width="10" height="10" src="assets/imgs/{{cur.code | lowercase}}.png" />{{" " +cur.name +
                      " (" +cur.code+")"}}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="currencyForm.controls.outputCurrency.hasError('required')">
                  Destination currency is required.
              </mat-error>
          </mat-form-field>
      </div>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="1 1 0" fxLayoutAlign="center center">
          <mat-form-field>
              <input matInput placeholder="Amount" type="text" #amount formControlName="amount">
              <mat-error *ngIf="currencyForm.controls.amount.hasError('pattern')">
                Please enter a numeric value.
            </mat-error>
              <mat-error *ngIf="currencyForm.controls.amount.hasError('required')">
                      Please enter the amount.
                  </mat-error>              
          </mat-form-field>
      </div>
      <div fxFlex="1 1 0" fxLayoutAlign="center center">
          <div *ngIf="outputCurrency" id="output">
              <h2>{{outputCurrency+" "+dest}}</h2>
          </div>
      </div>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
              <div fxLayoutAlign="center center">
          <button (click)="getCurrency(amount.value)" mat-raised-button color="primary">CONVERT</button>
      </div>
  </div>
</form>
  <br/>
</mat-card>