/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div {
    font-family: sans-serif;
}

.full-button {
    width: 100%;
}

body {
    margin: -8px 0;
    overflow-x: hidden;
}

.mat-input-element {
    color: black !important;
}

.full-input-element {
    width: 100%;
}
