#footer-container {
    background: #2c3e50;;
    // margin: 0px -8px 0px -8px;
    padding: 16px;
    color: white;

    li {
        margin: 8px 0;
        a {
            color: #2980b9;
            font-style: normal;
            text-decoration: none;
        }
    }
    

    #logo-container {
        img {
            height: 130px;
        }
    }

    .copyright-text {
        text-align: center;
    }
}