<div id="footer-container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="32px">
        <div id="logo-container"><img src="assets/imgs/logo-white.png"></div>
        <div fxHide.lt-sm fxFlex="1 1 0">
            <!-- spacer -->
        </div>
        <div fxLayout fxFlex="0.7 0.7 0">
            <div fxFlex="1 1 0">
                <div>Read More</div>
                <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Release Notes</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </div>
            <div fxFlex="1 1 0">
                <div>Company Profile</div>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright-text">
        Copyright © 2019. All Rights Reserved.
    </div>
</div>